{{ site['domain_name'] }}{% if site['alias'] is defined %}{% for alias in site['alias'] %}, {{ alias['domain'] }}{% endfor %}{% endif %} {
  reverse_proxy {
    to {{ site['destination_url'] }}

{% if site['headers_up'] is defined %}
{% for header_up in site['headers_up'] %}
    header_up {% if header_up['operation'] is defined %}{{ header_up['operation'] }}{% endif %}{{ header_up['field'] }}{% if header_up['value'] is defined %} {{ header_up['value'] }}{% endif %}
{% endfor %}
{% endif %}
{% if site['headers_down'] is defined %}
{% for header_down in site['headers_down'] %}
    header_down {% if header_down['operation'] is defined %}{{ header_down['operation'] }}{% endif %}{{ header_down['field'] }}{% if header_down['value'] is defined %} {{ header_down['value'] }}{% endif %}
{% endfor %}
{% endif %}

  }

{# Check for global or local compression option #}
{% if (compression is defined and compression == true 
     and not (site.compression is defined and site.compression != true)) 
     or (site.compression is defined and site.compression == true) %} 
  encode zstd gzip 
{% endif %}

{% if site['rewrite'] is defined %}
{% for rewrite_rule in site['rewrite'] %}
   rewrite {{ rewrite_rule.rule }}
{% endfor %}
{% endif %}

  log {
    output file /var/log/caddy/{{ site['domain_name'] }}-access.log {
      roll_size 50MiB
      roll_keep 5
      roll_keep_for 168h
    }
    format json
  }

{% if site['tls_dns'] is defined %}
  tls {
    dns {{ site['tls_dns']['provider'] }}{% if site['tls_dns']['config'] is defined %} {{ site['tls_dns']['config'] }}{% endif %} 
  }
{% endif %}
{% if site['tls_certificate'] is defined %}
  tls /etc/caddy/certificates/{{ site['domain_name'] }}-cert.pem /etc/caddy/certificates/{{ site['domain_name'] }}-key.pem
{% endif %}
}
