{{ site['domain_name'] }} {
  reverse_proxy {{ site['destination_url'] }}

  log {
    output file /var/log/caddy/{{ site['domain_name'] }}-access.log {
      roll_size 50MiB
      roll_keep 5
      roll_keep_for 168h
    }
    format json
  }

  {% if site['tls_dns'] %}
  tls {
    dns {{ site['tls_dns']['provider'] }} {% if site['tls_dns']['config'] %}{{ site['tls_dns']['config'] }}{% endif %}
  }
  {% endif %}

}
